* {
  color: #fffffe;
}

body {
  background-color: #16161a;
}

.header-title {
  text-decoration: none;
  text-align: center;
  font-size: 200%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

article, .card {
  background-color: #242629;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
}

h1 {
  text-align: left;
  font-size: 150%;
}

.highlight {
  border-radius: 0.5rem;
  padding: 1rem;
}